body {
  background-image: url("./img/bcg.jpg");
  background-repeat: repeat;
  text-align: center;
  display: flex;
  justify-content: center;
}

.App {
  width: 1600px;
  max-width: 1600px;
  height: 92vh;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1144px 299px;
  grid-gap: 5px;
  justify-content: center;
}

.Gra {
  background-color: rgba(255, 255, 255, 0.80);
  grid-area: 0 / 0 / 1 / 1;
  border: solid black 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20vh;
  border-radius: 10px;
  width: 1144px;
  max-width: 1144px;
}

.Chat {
  background-color: rgba(255, 255, 255, 0.80);
  grid-area: 0 / 1 / 1 / 2;
  border: solid black 4px;
  border-radius: 10px;
  width: 299px;
  max-width: 299px;
  display: flex;
  flex-direction: column;
}

.Napis {
  position: absolute;
  left: 25vw;
  top: -10px
}
.Hm {
  position: absolute;
  left: 60px;
}

#b {
  transform: scaleX(-1);
  height: 150px
}

.first {
  position: absolute;
  width: 400px;
  height: 285px;
  background-color: rgba(255, 255, 255, 0.5);
  left: 27vw;
  top: 25vh;
  border: solid black 4px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px rgb(82, 82, 82);
}

.lobby {
  position: absolute;
  width: 400px;
  height: 285px;
  background-color: rgba(255, 255, 255, 0.5);
  left: 27vw;
  top: 25vh;
  border: solid black 4px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px rgb(82, 82, 82);
}

#bf {
  margin-top: 20px;
  height: 60px;
  width: 300px;
  background-color: rgb(242, 160, 43);
  color: black
}

#if {
  width: 270px;
}

#bf1 {
  margin-top: 5px;
  background-color: rgb(242, 160, 43);
  color: black;
}

.letter {
  background-color:white;
  border: black 2px solid;
  margin: 5px;
  border-radius: 5px;
  text-transform: capitalize;
  font-weight: bold;
}

.litera:hover {
  filter: grayscale(100%)
}

.haslo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 25px;
  width: 90%;
  justify-content: space-between;
}

.kb {
  border: dotted black 4px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 60%;
  position: relative;
  bottom: -3vh;
}

.closer {
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 15px;
  right: 24vw;
  cursor: pointer;
}

.zasady {
  padding: 15px;
  font-size: larger;
  text-align: justify;
  font-weight: bold;
}

.players {
  display: flex;
  flex-direction: column;
}

.player {
  width: 95%;
  border: solid black 3px;
  border-radius: 10px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.75);
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  position: relative;
}

.avatar {
  width: 90px;
  height: 90px;
  border: solid black 5px;
  border-radius: 10px;
  grid-area: 0 / 0 / 1 / 1;
}

.pinfo {
  text-align: left;
}

.blad {
  width: 90px;
  padding: 5px;
}

#xxx {
  position: absolute;
  margin-left: 5px;
  padding-top: 33px;
}

.idclick {
  border-radius: 5px;
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
}

#clickerrr:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}

.Oczy {
  position: absolute;
  margin-left: 36px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 17px;
}

.finisher {
  position: absolute;
  width: 400px;
  height: 285px;
  background-color: rgb(255, 255, 255);
  left: 27vw;
  top: 25vh;
  border: solid black 4px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px rgb(82, 82, 82);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bf3 {
  background-color: rgb(242, 160, 43);
  color: black;
  width: 200px;
  margin-top: 15px;
}

.Messenger {
  width: 95%;
  height: 305px;
  background-color: white;
  border: solid black 3px;
  align-self: center;
  display: 'flex';
  flex-direction: column;
}

#textf {
  width: 200px;
}

#send {
  width:30px;
  height: 20px;
  margin-left: 3px;
}

.msgs {
  height: 275px;
  display: flex;
  flex-direction: column;
}

.msg {
  background-color: rgb(66, 66, 196);
  border-radius: 10px;
  color: white;
  width: 70%;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: left;
  padding: 5px;
  font-size: 15px;
  overflow-wrap: break-word;
}

.resButton {
  width: 50px;
  position: absolute;
  left: -25px;
  bottom: 30px;
  z-index: 1000;
}

.resButton:hover {
  filter: grayscale(100%);
}