body {
  background-image: url("./img/bcg.jpg");
  background-repeat: repeat;
  text-align: center;
  display: flex;
  justify-content: center;
}

.App {
  width: 98vw;
  height: 92vh;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 70vw 25vw;
  grid-gap: 5px;
  justify-content: center;
}

.Gra {
  background-color: rgba(255, 255, 255, 0.80);
  grid-area: 0 / 0 / 1 / 1;
  border: solid black 4px;
}

.Chat {
  background-color: rgba(255, 255, 255, 0.80);
  grid-area: 0 / 1 / 1 / 2;
  border: solid black 4px;
}

.Napis {
  position: absolute;
  left: 25vw;
  top: -10px
}
.Brain {
  position: absolute;
  left: -15px;
  top: -10px
}

#b {
  transform: scaleX(-1);
  height: 150px
}

.first {
  position: absolute;
  width: 400px;
  height: 285px;
  background-color: rgba(255, 255, 255, 0.5);
  left: 24vw;
  top: 25vh;
  border: solid black 4px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px rgb(82, 82, 82);
}

#bf {
  margin-top: 20px;
  height: 60px;
  width: 300px;
  background-color: rgb(242, 160, 43);
  color: black
}

#if {
  width: 270px;
}

#bf1 {
  margin-top: 5px;
  background-color: rgb(242, 160, 43);
  color: black
}
